header.app-header {
  background-color: rgba(240, 240, 240, 0.8);
  height: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  ul {
    list-style: none;
    height: 25px;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      padding: 0 10px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";

      @media screen and (max-width: 640px) {
        padding: 0 5px;
      }

      @media screen and (max-width: 440px) {
        font-size: 12px;
        line-height: 25px;
      }

      &:hover {
        background-color: #158beb;
        color: #fff;
      }

      &:active {
        background-color: darken(#158beb, 10%);
      }
    }
  }

  .main-avatar {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 2px;
    top: 2px;
    user-select: none;

    .image {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 830px) {
  .role {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .name {
    display: none;
  }
}
