@import "../_sass/colors";

.app-header {
  background-color: rgba(240, 240, 240, 0.8);
  height: 25px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  @media screen and (max-width: 640px) {
    background-color: rgba(240, 240, 240, 1);
  }

  ul {
    display: flex;
    height: 25px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      padding: 0 10px;

      @media screen and (max-width: 640px) {
        padding: 0 5px;
      }

      @media screen and (max-width: 440px) {
        font-size: 12px;
        line-height: 25px;
      }

      &:hover,
      &.active {
        background-color: $blue-300;
        color: $white;
      }

      &:active {
        background-color: darken($blue-300, 10%);
      }
    }
  }

  .main-avatar {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;

    .avatar-container {
      align-items: center;
      display: flex;
    }

    .image {
      margin-right: 5px;
    }

    &:hover {
      background-color: $blue-300;
      color: $white;
    }
  }

  .role,
  .name {
    align-items: center;
    display: flex;
  }

  li span {
    margin-left: 3px;
  }

  @media screen and (max-width: 830px) {
    .role {
      display: none;
    }
  }

  @media screen and (max-width: 580px) {
    .name {
      display: none;
    }
  }
}
