:host {
  header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    h1,
    h2 {
      margin: 0;
    }

    h2 {
      color: #888;
    }

    .infos {
      display: none;

      @media print {
        display: block;
      }
    }
  }

  mathieu-window > footer {
    display: flex;
    justify-content: center;
    margin: 2rem auto auto;

    @media print {
      display: none;
    }
  }

  content {
    display: flex;

    @media screen and (max-width: 750px) {
      flex-direction: column;
    }

    section:first-child {
      width: 40%;

      @media (max-width: 1200px) {
        width: 50%;
      }

      @media screen and (max-width: 750px) {
        width: 100%;
      }

      @media print {
        width: 35%;
      }

      > ul.skills {
        border: 1px solid rgb(34 34 34 / 0.1);
        border-left-color: var(--matt-accent-color);
        border-left-width: 0.25rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 70%;
      }
    }

    section:nth-child(2) {
      position: relative;

      @media (max-width: 1200px) {
        width: 50%;
      }

      @media screen and (max-width: 750px) {
        width: 100%;
      }

      @media print {
        width: 65%;
      }

      &::after {
        background-color: rgb(34 34 34 / 0.1);
        content: "";
        height: calc(100% - 5rem);
        left: -2rem;
        position: absolute;
        top: 4rem;
        width: 0.125rem;
      }
    }

    ul.skills {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;

        /* stylelint-disable-next-line max-nesting-depth */
        meter {
          width: 100%;

          /* stylelint-disable-next-line max-nesting-depth */
          &::-webkit-meter-optimum-value {
            background-color: #888;
          }
        }
      }
    }
  }

  ul.history > li {
    position: relative;

    &::before {
      background-color: #fff;
      border: 2px solid var(--matt-accent-color);
      border-radius: 2rem;
      content: "";
      height: 1rem;
      left: -2.9rem;
      position: absolute;
      top: 1.4rem;
      width: 1rem;
      z-index: 1;
    }

    &::after {
      background-color: var(--matt-accent-color);
      content: "";
      height: 3px;
      left: -2rem;
      position: absolute;
      top: 2rem;
      width: 2rem;
    }
  }

  ul.history,
  ul.contributions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;

    & > li {
      border: 1px solid rgb(34 34 34 / 0.1);
      border-left-color: var(--matt-accent-color);
      border-left-width: 0.25rem;
      border-radius: 0.5rem;
      padding: 1rem;

      .company {
        color: #555;
      }

      ul {
        list-style: disc;
        padding: 0 1.1rem;
      }
    }

    h4 {
      margin: 0;
    }

    p {
      margin: 0 0 0.5rem;
    }

    hr {
      border-color: rgb(34 34 34 / 0.1);
    }

    footer ul {
      li {
        border: 1px solid rgb(34 34 34 / 0.1);
        border-radius: 1rem;
        color: #555;
        display: inline-flex;
        font-size: 0.8rem;
        margin: 0.25rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }

  ul.contributions li {
    width: 70%;
  }
}
