:host {
  background-color: rgba(#fff, 0.7);
  border: 1px solid #d3d3d3;
  border-radius: var(--radius-small);
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
  max-width: 500px;
  padding: 30px 30px 20px;

  .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .infos {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }

  footer {
    margin-top: 10px;
  }

  @media screen and (max-width: 740px) {
    padding: 30px 15px 20px;
  }
}

.header .infos p {
  margin: 0;
}

::slotted(img) {
  display: block;
  margin: auto;
  max-width: 100%;
}

::slotted(p) {
  img {
    max-width: 100%;
  }
}

h2,
::slotted(.status) {
  font-family: var(--font-title);
}

::slotted(.status) {
  font-size: 18px;

  a {
    color: var(--blue-300);

    &:hover {
      background-color: var(--blue-300);
      color: var(--white);
    }
  }
}

::slotted(.bmc-button) {
  align-items: center;
  background-color: var(--blue-300);
  border: 1px solid transparent;
  border-radius: var(--radius-small);
  box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5);
  box-sizing: border-box;
  color: var(--white);
  display: inline-flex;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  height: 40px;
  letter-spacing: -0.08px;
  margin: 0 auto;
  padding: 7px 10px;
  text-decoration: none;
  transition: 0.3s all linear;

  img {
    border: 0;
    box-shadow: none;
    height: 25px;
    margin-bottom: 1px;
    width: 25px;
  }

  span {
    font-size: 15px;
    margin-left: 10px;
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5);
    color: var(--white);
    opacity: 0.85;
    text-decoration: none;
  }
}
