/* stylelint-disable value-no-vendor-prefix */
div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, calc(25% - 1rem));
  list-style: none;
  margin: 4rem auto;
  padding: 0;

  li {
    align-items: center;
    aspect-ratio: 1;
    border: 1px solid rgba(#222, 0.1);
    border-radius: 1rem;
    box-shadow: 0 15px 25px 0 rgb(0 0 0 / 0.1);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;

    p {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      width: 100%;
    }

    img {
      max-width: 4rem;
    }

    .emoji {
      display: inline-block;
      font-size: 3rem;
    }

    a {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover {
      p {
        align-items: center;
        background-color: rgba(#222, 0.9);
        color: var(--neutral-000);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        margin: 0;
        max-height: 100%;
        overflow: auto;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    @media screen and (width <= 800px) {
      h3,
      p {
        display: none;
      }
    }
  }
}
