.post {
  background-color: rgba(#fff, 0.7);
  border-radius: 8px;
  margin: 0 auto 30px;
  max-width: 500px;
  padding: 30px 30px 20px;

  .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .infos {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }

  h2,
  .status {
    font-family: "Lato", sans-serif;
  }

  .status {
    font-size: 22px;
  }

  footer {
    margin-top: 10px;
  }

  @media screen and (max-width: 640px) {
    padding: 30px 15px 20px;
  }
}

.header .infos p {
  margin: 0;
}
