@import "../sass/animations";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .emoji {
    animation: shake 2s ease-in-out 1;
    display: inline-flex;
  }

  section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7rem 0 3rem;

    mathieu-avatar {
      border: 5px solid #eee;
    }

    h2 {
      font-weight: 600;
      margin-bottom: -3rem;
    }
  }
}
