$console-bg-color: #121212;
$console-font-color: #c3c2c3;

:host {
  align-items: flex-start;
  background-color: rgba($console-bg-color, 0.85);
  border-bottom-left-radius: var(--radius-small);
  border-bottom-right-radius: var(--radius-small);
  color: $console-font-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 50vh;
  padding: 10px;

  p,
  input,
  li,
  div {
    font-family: var(--font-mono);
    font-size: 16px;
    margin: 0;
  }

  .text-container {
    display: flex;
  }

  .cursor {
    height: 20px;
    margin-left: 10px;
    width: 2px;

    &.not-empty {
      display: none;
    }
  }

  .console-input {
    background-color: transparent;
    border: 0;
    caret-color: $console-font-color;
    color: transparent;
    margin-left: 10px;
    text-shadow: 0 0 0 $console-font-color;

    &:focus {
      outline: none;
    }
  }

  .commands-menu {
    display: flex;
    list-style: none;
    padding: 0 0 0 10px;

    li {
      cursor: pointer;
      margin: 0 5px;

      &:hover {
        background-color: var(--white);
        color: $console-bg-color;
      }
    }

    @media screen and (max-width: 550px) {
      padding: 0;

      li {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 550px) {
    height: auto;
    min-height: auto;

    .machine-name {
      display: none;
    }
  }
}
