:host {
  background-color: rgba(240, 240, 240, 0.8);
  height: 25px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  li {
    @media screen and (max-width: 740px) {
      display: flex;
      flex-direction: column;
      transition: 300ms all;
    }

    .emoji {
      font-size: 28px;

      @media screen and (min-width: 741px) {
        display: none;
      }
    }
  }

  ul {
    display: flex;
    height: 25px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      padding: 0 10px;

      @media screen and (max-width: 740px) {
        padding: 0 5px;
      }

      @media screen and (max-width: 440px) {
        font-size: 12px;
        line-height: 25px;
      }

      &:hover,
      &.active {
        background-color: var(--blue-300);
        color: var(--white);
      }

      &:active {
        background-color: var(--blue-400);
      }
    }
  }

  @media screen and (max-width: 740px) {
    background-color: transparent;
    bottom: 0;
    height: auto;
    top: auto;

    ul {
      align-items: center;
      backdrop-filter: blur(10px);
      background-color: rgba(#fff, 0.5);
      border: 1px solid #d3d3d3;
      border-radius: var(--radius-medium);
      display: flex;
      height: auto;
      justify-content: flex-start;
      margin: 0 5px 10px;
      overflow-x: auto;
      padding: 10px 20px;

      li {
        border-radius: var(--radius-medium);
        font-size: 12px;
        margin: 0 4px;
        min-width: 60px;
        padding: 10px;
        text-align: center;
      }

      .emoji {
        margin-bottom: 5px;
      }
    }

    .main-avatar,
    ul li:first-child {
      display: none !important;
    }
  }

  .main-avatar {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;

    .avatar-container {
      align-items: center;
      display: flex;
    }

    .image {
      margin-right: 5px;
    }

    &:hover {
      background-color: var(--blue-300);
      color: var(--white);
    }
  }

  .role,
  .name {
    align-items: center;
    display: flex;
  }

  li span {
    margin-left: 3px;
  }

  @media screen and (max-width: 940px) {
    .role {
      display: none;
    }
  }

  @media screen and (max-width: 580px) {
    .name {
      display: none;
    }
  }
}
