:root {
  --radius-none: 0;
  --radius-small: 8px;
  --radius-medium: 15px;
  --radius-large: 50%;

  --font-mono: menlo, consolas, monospace;
  --font-title: "Lato", sans-serif;

  --blue-300: #158beb;
  --blue-400: #{darken(#158beb, 10%)};
  --white: #fff;
}
