@import "../_sass/colors";
@import "../_sass/variables";

.window-container {
  background-color: rgba($white, 0.7);
  border-radius: 5px;
  margin: 5px;
  width: 50%;

  @media screen and (max-width: 950px) {
    margin: 30px auto auto;
    width: calc(100% - 10px);
  }

  @media screen and (min-width: 1200px) {
    margin: auto;
    max-width: 600px;
  }

  header {
    background-color: rgba(#111, 0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    padding: 0 5px;

    .title {
      color: #ddd;
      flex-grow: 1;
      font-family: $mono-font;
      text-align: center;
      user-select: none;
    }

    .button {
      border-radius: 50%;
      display: inline-flex;
      height: 0.75rem;
      margin-right: 0.3rem;
      width: 0.75rem;

      &.disabled {
        cursor: not-allowed;
      }

      &.button-red {
        background-color: #fd5753;
      }

      &.button-yellow {
        background-color: #fdc43b;
      }

      &.button-green {
        background-color: #2dc73d;
        cursor: pointer;
      }
    }
  }

  .content {
    max-height: 80vh;
    min-height: 50vh;
    overflow: auto;

    @media screen and (max-width: 550px) {
      max-height: none;
      min-height: auto;
      word-break: break-word;
    }
  }

  &.expanded {
    background-color: rgba($white, 0.85);
    height: calc(100vh - 25px);
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 25px;
    width: 100%;

    @media screen and (max-width: 950px) {
      top: 0;
    }

    .content {
      height: calc(100vh - 50px);
      max-height: none;

      .console {
        height: calc(100vh - 70px);
      }
    }
  }

  @media screen and (max-width: 640px) {
    background-color: $white;
    border-radius: 0;
    height: auto;
    margin: 0;
    min-height: 100vh;
    width: 100%;

    &.hiddable {
      display: none;
    }

    header {
      display: none;
    }

    .content {
      background-color: rgba(#eee, 0.8);
      max-height: none;
      min-height: calc(100vh - 100px);
      padding-bottom: 100px;
    }
  }
}
