/* stylelint-disable max-nesting-depth */
/* stylelint-disable function-no-unknown */

$emoji-size: 60px;

:host {
  background-color: #fff;
  border: 1px solid rgba(#222, 0.1);
  border-radius: 2rem;
  box-shadow: 0 15px 25px 0 rgb(0 0 0 / 0.1);
  display: block;
  margin: 2rem auto auto;
  position: relative;

  @media screen and (max-width: 800px) {
    margin: 0.5rem auto auto;
  }

  header {
    align-items: center;
    background-color: var(--matt-accent-color);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    height: var(--window-header-height, 6rem);
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;

    .emoji-wrapper {
      animation: x 9s linear infinite alternate;
      display: inline-flex;
      left: 0;
      position: absolute;
      top: 0;
      width: calc(100% - $emoji-size);

      &:nth-child(2) {
        animation-delay: calc(random(8) * -1) + s;

        .emoji {
          animation-delay: calc(random(3) * -1) + s;
        }
      }

      &:nth-child(3) {
        animation-delay: calc(random(8) * -1) + s;

        .emoji {
          animation-delay: calc(random(3) * -1) + s;
        }
      }

      &:nth-child(4) {
        animation-delay: calc(random(8) * -1) + s;

        .emoji {
          animation-delay: calc(random(3) * -1) + s;
        }
      }
    }

    .emoji {
      animation: y 4s linear infinite alternate;
      font-size: $emoji-size;
      line-height: $emoji-size;
      opacity: 0.85;
      position: absolute;
    }
  }

  content {
    display: block;
    margin: calc(var(--window-header-height) * -1) 4rem 4rem;
    padding: 4rem;
    position: relative;
    z-index: 2;

    @media print {
      margin: 0;
      padding: 4rem 2rem 0;
    }
  }
}

::slotted(h2) {
  margin: 0;
}

:host([home="true"]) {
  --window-header-height: 15rem;

  content {
    padding: 0;
  }
}

@media print {
  :host {
    border: 0;
    box-shadow: none;
    margin: 0;

    header {
      display: none;
    }
  }
}

@keyframes x {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes y {
  100% {
    transform: translateY(
      calc(var(--window-header-height, 6rem) - $emoji-size)
    );
  }
}
