:host {
  border: 1px solid rgba(#222, 0.1);
  border-radius: 2rem;
  box-shadow: 0 15px 25px 0 rgb(0 0 0 / 0.1);
  display: block;
  margin: 2rem auto auto;
  position: relative;
  width: 100%;

  header {
    align-items: center;
    background-color: var(--matt-accent-color);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    height: var(--window-header-height, 6rem);
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  content {
    display: block;
    margin: calc(var(--window-header-height) * -1) 4rem 4rem;
    padding: 4rem;
    position: relative;
    z-index: 2;

    @media print {
      margin: 0;
      padding: 4rem 2rem 0;
    }
  }
}

::slotted(h2) {
  margin: 0;
}

:host([home]) {
  --window-header-height: 15rem;

  content {
    padding: 0;
  }
}

@media print {
  :host {
    border: 0;
    box-shadow: none;
    margin: 0;

    header {
      display: none;
    }
  }
}
