:root {
  --radius-small: 8px;
  --radius-medium: 15px;
  --radius-large: 50%;
  --font-title: "Lato", sans-serif;
  --font-default: -apple-system, blinkmacsystemfont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --matt-accent-color: #ffc20f;
}

body {
  background-color: var(--neutral-1);
  font-family: var(--font-default);
  height: 100vh;
  margin: 0;
  padding: 0;

  main {
    height: 100%;
  }
}
