.console {
  align-items: flex-start;
  background-color: rgba(#121212, 0.85);
  color: #c3c2c3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-direction: column;
  display: flex;
  min-height: 50vh;
  justify-content: flex-start;
  padding: 10px;

  p,
  input,
  li,
  div {
    font-family: menlo, consolas, monospace;
    margin: 0;
    font-size: 16px;
  }

  .text-container {
    display: flex;
  }

  .cursor {
    width: 2px;
    height: 20px;
    margin-left: 10px;

    &.not-empty {
      display: none;
    }
  }

  .console-input {
    background-color: transparent;
    border: none;
    color: transparent;
    caret-color: #c3c2c3;
    text-shadow: 0 0 0 #c3c2c3;
    margin-left: 10px;

    &:focus {
      outline: none;
    }
  }

  .commands-menu {
    display: flex;
    list-style: none;

    li {
      cursor: pointer;
      margin: 0 5px;

      &:hover {
        color: #121212;
        background-color: #fff;
      }
    }
  }
}
