:root {
  --radius-none: 0;
  --radius-small: 8px;
  --radius-medium: 15px;
  --radius-large: 50%;

  --font-mono: menlo, consolas, monospace;
  --font-title: "Lato", sans-serif;
  --font-default: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;

  --blue-300: #158beb;
  --blue-400: #{darken(#158beb, 10%)};
  --white: #fff;
}

body {
  background-color: var(--neutral-1);
  font-family: var(--font-default);
  margin: 0;
  padding: 0;
}

article {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-10);
  border-radius: 8px;
  margin: 0.5rem auto;
  max-width: 50rem;
  min-height: 10rem;
  padding: 0 1rem;
}
